footer {
    position: absolute;
    width: 100%;
    color: rgb(39, 39, 39);
    font-size: 0.6em;
    bottom: 0;
    margin-bottom: 20px;
}

footer p {
    display: flex;
    justify-content: center;
}